:root {
--main-color: #448aff;
--hover-color: #2979ff;
--active-color: #2962ff;
}

.page {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100vh;
  background-color: #333;
  color: #fff;
}

.form {
  width: clamp(300px, 90%, 500px);
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 16px;
}

.form__heading {
  margin: 0 16px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.form__subheading {
  margin: 0 16px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.form__btn {
  padding: .7em 1.8em;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 600;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
  -webkit-tap-highlight-color: transparent;
}

.form__btn:hover {
  background-color: var(--hover-color);
}

.form__btn:active {
  transform: scale(.97);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  background-color: var(--active-color);
}

.form__btn_size_big {
  font-size: 24px;
  margin-bottom: 2em;
}

.form__btn_position_right {
  align-self: end;
}

.form__delayBox {
  display: flex;
  flex-direction: column;
  row-gap: .5em;
  text-align: center;
  font-size: 16px;
}

.form__delayRange {
  cursor: grab;
}

.typeSelector {
  display: flex;
  column-gap: .5em;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
  -webkit-tap-highlight-color: transparent;
}

.typeSelector__switcher {
  appearance: none;
  background-color: #b00020;
  width: 2.5em;
  height: 1.5em;
  border-radius: .75em;
  position: relative;
  transition: all .15s;
  cursor: pointer;
}

.typeSelector__switcher:checked {
  background-color: #2e7d32;
}

.typeSelector__switcher::before {
  content: '';
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  right: 2px;
  top: 2px;
  height: calc(100% - 4px);
  aspect-ratio: 1;
  transition: all .15s;
}

.typeSelector__switcher:checked::before {
  right: calc(100% - 2px);
  transform: translateX(100%);
}
